.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list > li {
    --stagger: .1s;
    animation: card .5s ease-out 0s 1 both;
}

.list > li:nth-child(1) {
    animation-delay: calc(var(--stagger) * 1);
}
.list > li:nth-child(2) {
    animation-delay: calc(var(--stagger) * 2);
}
.list > li:nth-child(3) {
    animation-delay: calc(var(--stagger) * 3);
}
.list > li:nth-child(4) {
    animation-delay: calc(var(--stagger) * 4);
}
.list > li:nth-child(5) {
    animation-delay: calc(var(--stagger) * 5)
}

@keyframes card {
    from {
        opacity: 0;
        transform: translateX(2rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
